li {
    list-style: none;
}
ul {
    padding-left: 0;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.newsItem-wrap {
    display: flex;
    padding: 30px;
}